---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import ArticleCarousel from '../components/ArticleCarousel.astro';
import SmallArticleCarousel from '../components/SmallArticleCarousel.astro';
import '../styles/global.css';
import Process from '../components/Process.astro';
import About from '../components/About.astro';
import Callout from '../components/Callout.astro';
---

<Layout title="TerraSearchGeo">
	<main>
		<Hero 
			title="Revealing the " 
			title2="History"
			title3="Beneath Your Feet"
			subTitle="We provide a variety of survey techniques and expertise for archaeological and historical based projects" 
			imageURL="hero.webp"	
			link="tel:555-666-7777"
			linkText="Call Us"
			link2="mailto:dave@TerrasearchGeo.com"
			linkText2="Email Us"
			video="hero-drone.mp4"
		></Hero>
		<Services></Services>
		<Process></Process>
		<About></About>
		<Callout></Callout>
		<SmallArticleCarousel></SmallArticleCarousel>
	</main>
</Layout>


<style>
	main {
		margin: 0;
	}
</style>

