---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import ArticleCarousel from '../components/ArticleCarousel.astro';
import SmallArticleCarousel from '../components/SmallArticleCarousel.astro';
---

<Layout title="TerraSearchGeo">
	<main>
		<Hero 
			title="Revealing the History " 
			title2="Beneath Your Feet"
			subTitle="Providing a variety of survey techniques and expertise for your archaeological and historical based projects" 
			imageURL="hero.jpg"	
			link="www.google.com"
			linkText="Call Us"
			link2="www.google.com"
			linkText2="Email Us"
		></Hero>
		<Services></Services>
		<ArticleCarousel></ArticleCarousel>
		<SmallArticleCarousel></SmallArticleCarousel>
	</main>
</Layout>


<style>
	main {
		margin: auto;
		width: 100%;
	}
</style>

