---
export interface Props {
	text: string;
	color: string;
	hoverColor: string;
    link: string;
}

const { text, color, hoverColor, link } = Astro.props;

---

<a href={link} role="button" class="btn">{text}</a>

<style define:vars={{ color, hoverColor }}>

.btn{
  color:white;
  border:none;
  margin: 1rem 1rem 0 1rem;
  border-radius: 25px;
  padding:12px 24px 12px 24px;
  cursor:pointer;
  transition: background-color 1s ease;
  text-decoration: none;
  background-color: var(--color);
  box-sizing: border-box;
  display:inline-block;
}

.btn:focus{
  outline:0;
  box-shadow: 0 0px 0px 2px #fff, 0 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover{
  transition: background-color 1s ease;
  background-color: var(--hoverColor);
}

@media only screen and (max-width: 1100px) {
  .btn{
    margin: 1rem .5rem 0 .5rem;
  }

}

</style>