---
import { Icon } from 'astro-icon';

export interface Props {
	text: string;
	color: string;
	hoverColor: string;
  link: string;
  icon? : string;
}

const { text, color, hoverColor, link, icon } = Astro.props;

---

<a href={link} role="button" class="btn">{icon && <Icon pack="feather" name={icon} />} {text}</a>

<style define:vars={{ color, hoverColor }}>


[astro-icon] {
  height:1rem;
  margin-right:4px;
  margin-bottom:-2px;
  display: inline-flex; 
  flex-direction: row; 
  align-items: end;
}

.btn{
  margin: 0 1rem 0 0;
  padding:12px 24px 12px 24px;
  cursor:pointer;
  background-color: rgba(55, 91, 43, 1);
  transition: all .5s ease;
  text-decoration: none;
  color: #fff;
  border:2px solid var(--color);
  box-sizing: border-box;
  display:inline-block;
  border-radius: 6px;
  font-weight: 400;
}

.btn:focus{
  outline:0;
  /* box-shadow: 0 0px 0px 2px #fff, 0 0px 0px 4px rgba(0, 0, 0, 0.1); */
}

.btn:hover{
  transition: color .5s ease, border .5s ease;
  color: var(--hoverColor);
  border:2px solid var(--hoverColor);
}

@media only screen and (max-width: 1100px) {
  .btn{
    margin: 0 8px 0 0;
  }

}

</style>