---
import { Icon } from 'astro-icon';

export interface Props {
	curPage: string;
}

const { curPag } = Astro.props;
---
<>
<nav class="navbar" id="nav">
    <a href="/"><img src="/logo-nav.png" alt="Globe Logo with man pushing radar machine."></a>
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav" id="nav--links">
      <li class="nav-item"><a href="/">Home<span class="slider"></span></a></li>
      <li class="nav-item"><a href="/#services">Services<span class="slider"></span></a></li>
      <li class="nav-item"><a href="/posts/">News & Articles<span class="slider"></span></a></li>
      <li class="nav-item"><a href="/about/">About Us<span class="slider"></span></a></li>
      <li class="nav-item"><a href="tel:555-666-7777"><Icon pack="feather" name="phone"/> 304-123-9876<span class="slider"></span></a></li>
      <li class="nav-item"><a href="mailto:dave@TerrasearchGeo.com"><Icon pack="feather" name="mail"/> Email Us<span class="slider"></span></a></li>
    </ul>
</nav>
<div id="mobileNav">
  <a href="/" class="mobileAnchor">Home</a>
  <a href="/#services" class="mobileAnchor">Services</a>
  <a href="/posts/" class="mobileAnchor">News & Articles</a>
  <a href="/about/" class="mobileAnchor">About Us</a>
  <a href="tel:555-666-7777" class="mobileAnchor"><Icon pack="feather" name="phone"/> 304-123-9876</a>
  <a href="mailto:dave@TerrasearchGeo.com" class="mobileAnchor"><Icon pack="feather" name="mail"/> Email Us</a>
</div>
</>
<style>
    * {
        box-sizing: border-box;
        margin:0;
    }
    body {
        margin-top:0;
    }

/* NAVIGATION */

[astro-icon] {
  height:1rem;
  margin-right:4px;
  margin-bottom:-2px;
  display: inline-flex; 
  flex-direction: row; 
  align-items: end;
  color: rgba(254, 127, 45, 1);
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 60px;
  width:100%;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  background: rgba(40, 66, 31, 0.9);
  border-bottom: 1px solid rgba(92,92,89,.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);top:0;
}

.navbar img {
  height: 44px;
  width: auto;
  justify-self: start;
  margin-left: 160px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-self: end;
  align-items:baseline;
  margin-right:160px;
}

.nav-item a {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  position:relative;
  margin-right:32px;
}

.slider {
    position: absolute;
    display:block;
    left: 0;
    top:90%;
    margin:4px auto;
    height: 2px;
    background-color: rgba(254, 127, 45, 1);
    width: 0%;
    transition: width .25s ease;
}

.nav-item a:hover .slider {
    width: 100%;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

#mobileNav{
  position:fixed;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  align-content: stretch;
  padding:auto 0 0;
  top:60px;
  transition: .5s;
  left: -100%;
  display:none;
  width:100%;
  height:calc(100svh - 60px); 
  background: rgba(55, 91, 43, .8);
  border-bottom: 1px solid rgba(92,92,89,.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
  /* background: rgba(38,38,36,.6);
  border-bottom: 1px solid rgba(92,92,89,.5); */
}

#mobileNav > a {
  font-size: 28px;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 8px;
}

#mobileNav.show{
  left:0;
  transition: .5s;
}



 /* Mobile Devices - Phones/Tablets */
 @media only screen and (max-width: 1200px) { 
  .navbar img {
    margin-left:24px;
  }
  .navbar ul {
    margin-right:24px;
  }
 }



@media only screen and (max-width: 820px) { 

  /* MOBILE NAVIGATION */
  #mobileNav {
    display: flex;
  }

     
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 50px;
    width: 100%;
    background-color: #F6F6F6;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 2;
    padding:0;
  }

  #nav--links{
    display: none;
  }
  
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 8px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }  
}

/* Sideways small screens */
@media only screen and (max-height: 500px) { 
  #mobileNav > a {
    font-size: 1rem;
    padding:18px;
  }
}

</style>

<script>
    document.getElementById("nav").addEventListener("click", function(){
        document.getElementById("mobile-menu").classList.toggle("is-active");
        document.getElementById("mobileNav").classList.toggle("show");
    });

    const anchors = document.getElementsByClassName('mobileAnchor');
        for(var i = 0; i < anchors.length; i++) {
            var anchor = anchors[i];
            anchor.addEventListener("click", function(){
              document.getElementById("mobile-menu").classList.toggle("is-active");
              document.getElementById("mobileNav").classList.toggle("show");
            })
        }
</script>