---
export interface Props {
	src: string;
    alt: string;
	caption: string;
    className?:string;
}

import '@fontsource/rock-salt';
import '@fontsource/rock-salt/400.css';

const { src, alt, caption, className } = Astro.props;

---

<div class={className + " polaroid"}>
    <img src={src} alt={alt}>
    <figcaption>{caption}</figcaption>
</div>

<style>
    .polaroid{
        box-sizing: border-box;
        padding:16px;
        background-color: white;
        text-align: center;
        display:grid;
        grid-template-rows: 1fr auto;
        row-gap: 16px;
        box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.25);
    }
    .polaroid > img {
        width: 100%;
        height: auto;
    }
    .polaroid > figcaption {
        font-family: "Rock Salt", cursive;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        color:rgba(55, 91, 43, 1);     
    }

    @media only screen and (max-width: 799px) {
        .polaroid > figcaption {
            font-size: .8rem;
        }

        .polaroid {
            max-width: 300px;
        }
    }
</style>