---
import Button from "./Button.astro";
import Polaroid from "./Polaroid.astro";
import { Icon } from 'astro-icon';

---

<section id="services">
    <div id="services--picker">
        <div class="title">
            <h2>Our Services</h2>
            <div class="bar"></div>
        </div> 
        <a href="#" onclick="return false;" class="service selected" data-serviceCard="1">Ground Penetrating Radar <Icon pack="feather" name="arrow-right"/></a>
        <a href="#" onclick="return false;" class="service" data-serviceCard="2">Magnetometer <Icon pack="feather" name="arrow-right"/></a>
        <a href="#" onclick="return false;" class="service" data-serviceCard="3">Metal Detecting <Icon pack="feather" name="arrow-right"/></a>
        <a href="#" onclick="return false;" class="service" data-serviceCard="4">Unmanned Aerial Vehicle Surveys <Icon pack="feather" name="arrow-right"/></a>
        <a href="#" onclick="return false;" class="service" data-serviceCard="5">LiDAR Analysis <Icon pack="feather" name="arrow-right"/></a>
        <a href="#" onclick="return false;" class="service" data-serviceCard="6">Cadaver Dog Surveys <Icon pack="feather" name="arrow-right"/></a>
        <a href="#" onclick="return false;" class="service" data-serviceCard="7">Sediment Coring <Icon pack="feather" name="arrow-right"/></a>
        <a href="#" onclick="return false;" class="service" data-serviceCard="8">Geographic and Information Systems <Icon pack="feather" name="arrow-right"/></a>
        <a href="#" onclick="return false;" class="service" data-serviceCard="9">Forensic Investigations <Icon pack="feather" name="arrow-right"/></a>
        <select id="services--picker__mobile">
            <option value="0">Ground Penetrating Radar </option>
            <option value="1">Magnetometer</option>
            <option value="2">Metal Detecting</option>
            <option value="3">Unmanned Aerial Vehicle Surveys</option>
            <option value="4">LiDAR Analysis</option>
            <option value="5">Cadaver Dog Surveys</option>
            <option value="6">Sediment Coring</option>
            <option value="7">Geographic and Information Systems</option>
            <option value="8">Forensic Investigations</option>
        </select>    
    </div>
    
    <div id="services--info">
        <div id="service-1" class="service--info__card">
            <div class="service--textContain">
                <h3>Ground Penetrating Radar</h3>
                <p>Ground Penetrating Radar surveys are a non-invasive way to measure the differences in dielectric properties of buried materials and layers of the earth; by measuring these properties, we can map out interruptions in soil sequences caused by human or natural processes. We regularly utilize a variety of GPR antennas to accurately map cemeteries, prospect for unmarked graves, and archaeological sites.
                </p>
                <!-- <Button color="#FE7F2D" hoverColor="#fff" link="google.com" text="View Case Study" ></Button> -->
            </div>
            <Polaroid className="pushUpRight" src="hero.webp" alt="ground penetrating radar machine used on lawn" caption="Ground Penetrating Radar"></Polaroid>
        </div>
        <div id="service-2" class="service--info__card hidden">
            <div class="service--textContain">
                <h3>Magnetometer</h3>
                <p>Magnetometers measure variations in the Earth's magnetic field by detecting the magnetic properties of materials buried in the ground or at the surface.  Magnetic materials in historical-period sites are most likely to be iron or ferrous artifacts commonly found within soils, but also structural remains (if lined with magnetic fieldstones) and the midden or fill deposits buried within these structures.  Magnetometer surveys are particularly useful for historical period sites, as well as pre-contact Native American sites, and work best in conjunction with other geophysical methods, such as GPR.</p>
                <!-- <Button color="#FE7F2D" hoverColor="#fff" link="google.com" text="View Case Study" ></Button> -->
            </div>
            <Polaroid className="pushUpRight" src="hero.webp" alt="" caption="Magnetometer"></Polaroid>
        </div>
        <div id="service-3" class="service--info__card hidden">
            <div class="service--textContain">
                <h3>Metal Detecting</h3>
                <p>Similar to a magnetometer survey, metal detectorists use machines to survey a property for historical period artifact concentrations for a variety of metal types.  These concentrations can be mapped via Geographical and Information Systems to accurately pinpoint locations of buried structures or archaeological features.  Metal detector surveys will most likely require an archaeological permit from local or state agencies. </p>
                <!-- <Button color="#FE7F2D" hoverColor="#fff" link="google.com" text="View Case Study" ></Button> -->
            </div>
            <Polaroid className="pushUpRight" src="hero.webp" alt="" caption="Metal Detecting"></Polaroid>
        </div>
        <div id="service-4" class="service--info__card hidden">
            <div class="service--textContain">
                <h3>Unmanned Aerial Vehicle Surveys</h3>
                <p>Unmanned Aerial Vehicles (UAVs or drones) are used to capture images of a project area and reveal potentially hidden surface features.  Similar to LiDAR, drone images are stitched together using photogrammetric software to create digital elevation models and high resolution images of project areas.  Depending on local or state regulations, balloons, kites, or ladders can be substituted to capture imagery of a project area.
                </p>
                <!-- <Button color="#FE7F2D" hoverColor="#fff" link="google.com" text="View Case Study" ></Button> -->
            </div>
            <Polaroid className="pushUpRight" src="hero.webp" alt="" caption="Unmanned Aerial Vehicle Surveys"></Polaroid>
        </div>
        <div id="service-5" class="service--info__card hidden">
            <div class="service--textContain">
                <h3>LiDAR Analysis</h3>
                <p>Light Detection and Ranging (LiDAR) surveys use data from low altitude flights or drones to remotely image the ground surface.  LiDAR can be extremely useful for detecting evidence of historical land practices (stone walls and cellar holes), as well as to understand the geomorphology and archaeological potential of a project area. </p>
                <!-- <Button color="#FE7F2D" hoverColor="#ff" link="google.com" text="View Case Study" ></Button> -->
            </div>
            <Polaroid className="pushUpRight" src="hero.webp" alt="" caption="LiDAR Analysis"></Polaroid>
        </div>
        <div id="service-6" class="service--info__card hidden">
            <div class="service--textContain">
                <h3>Cadaver Dog Surveys</h3>
                <p>TerraSearch regularly partners with Cadaver Dog organizations to provide a second or third line of evidence when prospecting for unmarked burials within a project area, depending on local or state regulations.  Dogs are trained to recognize and indicate the six specific scents associated with human decomposition.</p>
                <!-- <Button color="#FE7F2D" hoverColor="#fff" link="google.com" text="View Case Study" ></Button> -->
            </div>
            <Polaroid className="pushUpRight" src="hero.webp" alt="" caption="Cadaver Dog Surveys"></Polaroid>
        </div>
        <div id="service-7" class="service--info__card hidden">
            <div class="service--textContain">
                <h3>Sediment Coring</h3>
                <p>Sediment coring allows archaeologists to determine the stratigraphic make-up (order of the layers of earth) beneath the ground.  We primarily use a technique known as vibracoring, where a steel or aluminum tube is vibrated to reduce the frictional resistance when coring.  We use this technique to recover deep sediment cores in terrestrial and underwater environments and utilize a variety of geo-chemical analytical techniques (radiocarbon dating, pXRF, ICP-MS, LOI, etc.) to better understand project specific stratigraphy and archaeological sites. </p>
                <!-- <Button color="#FE7F2D" hoverColor="#e57229" link="google.com" text="View Case Study" ></Button> -->
            </div>
            <Polaroid className="pushUpRight" src="hero.webp" alt="" caption="Sediment Coring"></Polaroid>
        </div>
        <div id="service-8" class="service--info__card hidden">
            <div class="service--textContain">
                <h3>Geographic and Information Systems</h3>
                <p>All of our work is done in conjunction with high-resolution Geographic and Information Systems (GIS), including decimeter accurate GPS locational data.  Common uses include overlaying historical maps and aerial photographs of project areas to provide multiple lines of evidence for survey goals.  When our work is completed, we provide each client with highly-accurate maps and coordinates of any mapped features, as well as survey areas. </p>
                <!-- <Button color="#FE7F2D" hoverColor="#fff" link="google.com" text="View Case Study" ></Button> -->
            </div>
            <Polaroid className="pushUpRight" src="hero.webp" alt="" caption="Geographic and Information Systems"></Polaroid>
        </div>
        <div id="service-9" class="service--info__card hidden">
            <div class="service--textContain">
                <h3>Forensic Investigations</h3>
                <p>Forensic investigations generally involve working with law enforcement partners to identify potential locations for interments associated with missing persons cases.  Locating human remains interred by criminals presents additional challenges in field survey and analysis methods. Clandestine burials could be at any depth, orientation, and be represented by various sizes and shapes. Burials may have also been excavated by hand, with machinery, or entombed in concrete.  TerraSearch therefore tailors each forensic investigation with the appropriate remote sensing techniques.</p>
                <!-- <Button color="#FE7F2D" hoverColor="#fff" link="google.com" text="View Case Study" ></Button> -->
            </div>
            <Polaroid className="pushUpRight" src="hero.webp" alt="" caption="Forensic Investigations"></Polaroid>
        </div>
    </div>
    
</section>

<script>

    const anchors = document.querySelectorAll('.service');

    anchors.forEach((a) => {
        a.addEventListener('click', (e) => {
            document.querySelectorAll('.selected').forEach(function(node) {
                node.classList.remove("selected")
            });;
            
            a.classList.add("selected")

            let dataNum = a.dataset.servicecard - 1;

            let cards = document.querySelectorAll('.service--info__card');

            cards.forEach(card => {
                card.classList.add('hidden');
            })

            cards[dataNum].classList.remove("hidden");
        });
    });

    document.getElementById('services--picker__mobile').addEventListener('change', function() {
        let cards = document.querySelectorAll('.service--info__card');

        cards.forEach(card => {
            card.classList.add('hidden');
        })

       let num = parseInt(this.value);

        cards[num].classList.remove("hidden");
    });
    
</script>

<style>
    #services{
        width: 100%;
        padding: 96px 160px;
        background-image: url("/bg-topo.webp");
        background-color: #cccccc;
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 48px;
        row-gap: 48px;
    }

    #services--picker{
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        padding:24px 64px;
    }

    #services--picker > .title {
        width:fit-content;
        margin-bottom:32px;
    }

    #services--picker > .title > h2 {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 3rem;
        color: #375B2B;    
        padding:0px;
        width: fit-content;
    }

    .bar{
        height: 2px;
        width: 95%;
        margin: 2px auto 0 auto;
        background-color: rgba(254,127,45,1);
    }

    .service{
        display: block;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 1.2rem;
        letter-spacing: -0.015em;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom:16px;
        transition: color 0.2s ease;
        cursor: pointer;
        text-decoration: none;
        width: fit-content;
    }

    .service > [astro-icon] {
        height:1.2rem;
        margin-right:4px;
        margin-bottom:-4px;
        display: none; 
        flex-direction: row; 
        align-items: end;
        color: rgba(254,127,45,1);;
    }

    .selected {
        font-weight: 800;
    }

    .selected > [astro-icon] {
        display: inline-flex;
    }

    .service:hover{
        color: rgba(0, 0, 0, 1);
    }

    .service:hover > [astro-icon] {
        display: inline-flex;
    }


    #services--info{
        display: flex;
        background: rgba(40, 66, 31, 0.9);
        padding: 32px 64px;
        color: white;
    }

    .service--info__card{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        width: 100%;
        opacity: 1;
        transition: opacity ease-in .5s;
    }

    .service--textContain > h3 { 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 1.6rem;
        letter-spacing: -0.015em;
        margin:0;
        color: #fff;
    }

    .service--textContain > p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 2rem;
        letter-spacing: -0.015em;
        margin: 24px 32px 32px 0px ;
        text-align: left;
    }

    .pushUpRight{
        margin-right: -80px;
        margin-top: -64px;
        height: fit-content;
    }

    #services--picker__mobile {
        display:none;
    }

    @media only screen and (max-width: 1600px) {
        #services{
            padding: 96px 48px 96px 24px;
            column-gap: 16px;
        }
    }

    @media only screen and (max-width: 1100px) {
        #services{
            padding:24px;
            grid-template-columns: 100%;
            grid-template-rows: auto 1fr;
        }
        #services--picker {
            display:grid;
            grid-template-columns: 1fr 1fr;
        }

        #services--picker > .title {
            grid-column: 1 / span 2;
        }

        #services--picker > .title > h2 {   
            font-size: 32px;
        }

    }

    @media only screen and (max-width: 800px) {
        #services {
            row-gap: 0px;
        }
        #services--picker {
            padding:16px
        }
        .service{
            display: none;
        }
        #services--picker > .title {
            margin-bottom:16px;
        }
        #services--picker__mobile {
            display: block;
            width: 100%;
            grid-column: span 2;
            font-size:1rem;
            font-weight: bold;
            padding:4px 8px;
            color:#375B2B;
            border-color: #375B2B;
        }
        #services--info {
            flex-direction: column;
            padding:16px;
            height:100%;
            overflow: hidden;
        }
        .service--info__card {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .pushUpRight{
            margin-right: 0px;
            margin-top: 16px;
            height: fit-content;
        }

        .service--textContain {
            display:flex;
            flex-direction: column;
            align-items: center;
        }

        .service--textContain > p {
            margin:0;
            margin-bottom:16px;
        }

        .service--textContain > h3 {
            display: none;
        }

    }
    .hidden {
        display: none;
        opacity: 0;
    }

</style>

