---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
export interface Props {
	title: string;
}
import '@fontsource/montserrat';
import '@fontsource/montserrat/900.css';
import '@fontsource/montserrat/600.css';
import '@fontsource/montserrat/300.css';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Terrasearch Geophysical</title>
	</head>
	<body>
		<Navbar curPage="home"></Navbar>
		<slot />
		<Footer></Footer>
	</body>
</html>

<style>
	:global(*) {
        box-sizing: border-box;
        margin:0;
		font-family: 'Montserrat', sans-serif;
    }
    body {
        margin-top:0;
    }
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: arial, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

</style>
